<IfModule mod_headers.c>    
    Header set Access-Control-Allow-Origin *
</IfModule>

# Insert filter
SetOutputFilter DEFLATE

# Netscape 4.x has some problems...
BrowserMatch ^Mozilla/4 gzip-only-text/html

# Netscape 4.06-4.08 have some more problems
BrowserMatch ^Mozilla/4\.0[678] no-gzip

# MSIE masquerades as Netscape, but it is fine
# BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

# NOTE: Due to a bug in mod_setenvif up to Apache 2.0.48
# the above regex won't work. You can use the following
# workaround to get the desired effect:
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html

# Don't compress images
SetEnvIfNoCase Request_URI \
\.(?:gif|jpe?g|png)$ no-gzip dont-vary

# Make sure proxies don't deliver the wrong content
#Header append Vary User-Agent env=!dont-vary

RewriteEngine on
RewriteBase /
	#RewriteRule ^document/class-([\d]+)/subject-[\w\d-]+-([\d]+)$ /document/index/$2&class=$1 [L,R=301]
	#RewriteRule ^document/class-([\d]+)/subject-[\w\d-]+-([\d]+)/[\w\d-]+-([\d]+)$   /document/detail/$2&id=$3&class=$1 [R=404]
	
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(.*)(js)$ redir.php?file=$1$2&type=$2 [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
	
	
	RewriteRule .* index.php [QSA,L]
#RewriteCond %{REQUEST_URI} (.*)
#RewriteRule (.*) /index.php?route=$1

#<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
#Header set Cache-Control "max-age=31449600, public"
#</FilesMatch>

#### Turn off the ETags
#Header unset ETag
FileETag None
#### Charset
AddDefaultCharset UTF-8
