
.prf_other{
	background: -webkit-linear-gradient(#FFFFFF, #BFE7F9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFFFFF, #BFE7F9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #BFE7F9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFFFF, #BFE7F9); /* Standard syntax */
}
.shownews-container{
	background: -webkit-linear-gradient(#FFFFFF, #BFE7F9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFFFFF, #BFE7F9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #BFE7F9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFFFF, #BFE7F9); /* Standard syntax */
	margin-top:20px; 
	
}
.shownews-title{
	text-align:center;
	margin-bottom:20px;
	background: -webkit-linear-gradient(left,#FFFFFF, #BFE7F9); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,#FFFFFF, #BFE7F9); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left,#FFFFFF, #BFE7F9); /* For Firefox 3.6 to 15 */
	background: linear-gradient(left,#FFFFFF, #BFE7F9); /* Standard syntax */
	
}
.shownews-title p {
	font-size:20px;
	color:blue;
	
}
.shownews-brief{
	font-style:italic;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:20px;
	text-align:center;
}
.shownews-content{
	margin-left:30px;
	
}
.other-news{
	font-size:16px;
	text-align:center;
}
.other-link{
	padding-left:80px;
	
	
}
.other-link li{
	padding-bottom:5px;
}
#content-left{
	width: 200px !important;
}
.title2{
    float: left;
    width: 100%;
	background: -webkit-linear-gradient(left,blue, pink); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(left,blue, pink); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left,blue, pink); /* For Firefox 3.6 to 15 */
	background: linear-gradient(left,blue, pink); /* Standard syntax */
	height:44px;
	color:white;
	padding-left:60px;
	padding-top:11px;
	text-transform: uppercase;
}
.noname {
	
	padding:20px 0px;
}
.noname img{
	width:220px !important;
	height:180px !important;
}
.new_des{
	float:left;
	margin-left: 10px;
	border-bottom: 2px solid blue;
	height:180px;
	width:618px;
}  
   
