.post {
	padding: 20px 0 0 40px;
}
.entry-title {
	margin-top: 0;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}

.breadcrumbs {
	display: inline;
}